/* You can add global styles to this file, and also import other style files */
body {
    position: relative;
    top: 3em;
    padding: 1em 10em 1em 10em;
    font-family: arial, sans-serif;
}

/* Mobile */
@media only screen and (max-width: 480px) {
    body {
        padding: 1em 1em 1em 1em;
    }
}
